version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pg_cinema
    restart: unless-stopped
    environment:
      POSTGRES_DB: cinema_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "1111:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
